<?xml version="1.0"?>
<launch>
  <arg name="command_delay_s" default="5.0"/>
  <arg name="initial_command_delay_s" default="0.0"/>
  <node pkg="robot_control"
        type="keyboard_reference_publisher.py"
        name="keyboard_reference_publisher"
        output="screen">
    <rosparam command="load"
              file="$(find robot_control)/config/keyboard_reference.yaml"/>
  </node>
  <node pkg="robot_control"
        type="action_executor.py"
        name="action_executor"
        output="screen">
    <rosparam command="load"
              file="$(find robot_control)/config/action_executor.yaml"/>
    <param name="action_executor/command_delay_s"
           value="$(arg command_delay_s)"/>
    <param name="action_executor/initial_command_delay_s"
           value="$(arg initial_command_delay_s)"/>
  </node>
</launch>
